@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Basketball Workshop</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<a href="../Players">Players Modification</a>
*@
<a class="nav-link text-dark" asp-area="" asp-controller="Teams" asp-action="Index">Teams</a>
<br />
<a class="nav-link text-dark" asp-area="" asp-controller="Players" asp-action="Index">Players</a>
<br />
<br />
